@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url("Project_Images/Contact_backgroundimg.jpeg");
    background-size: cover;
    background-repeat: repeat;
    background-size: 100vw 100vh;
    color: #fff;

}
.main_heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;

}

.main_heading :hover{
    color: #555429;
    opacity: 0.7;
    
}

.form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin-top: 50px;
    margin-left: 35%;
    color: #98c1d3;
    ;
}

.form div{
    margin: 15px;
}

.fname :hover, .lname :hover, .femail :hover, .fmessage :hover, .fradio :hover, .fphone :hover{
    border: 2px solid #65b6aa;
    border-radius: 5px;
}

.container{
    opacity: 0.1;
}

.form input{
    opacity: 0.1;
}

.freset, .fsubmit{
    opacity: 1;
    color: #fff;
    display: inline-block;
    border: 2px solid #b9d7d2;
    border-radius: 5px;
}

.freset:hover, .fsubmit:hover{
    background-color: #b9d7d2;
    color: #fff;
    border: 2px solid #b9d7d2;
    border-radius: 5px;
}





